<ion-header>
<ion-navbar color="secondary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="signup">
  <!--<img src="./../../../beacon_logo.png"> -->
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

   <ion-item>
      <ion-label stacked color="primary">Name *</ion-label>
      <ion-input  placeholder="Your Name"></ion-input>
    </ion-item>

   <ion-item>
      <ion-label stacked color="primary">Email *</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
   </ion-item>

   <ion-item>
      <ion-label stacked color="primary"> Repeat Email *</ion-label>
      <ion-input  placeholder="Your email address"></ion-input>
    </ion-item>

   <ion-item>
      <ion-label stacked color="primary">Phone Number *</ion-label>
      <ion-input formControlName="phone" placeholder="555-555-5555"></ion-input>
    </ion-item>

    <ion-item stacked class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Password *</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>


    <ion-item>
      <ion-label stacked color="primary">Repeat Password *</ion-label>
      <ion-input formControlName="password2" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password2.valid && signupForm.controls.password2.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password2.valid  && signupForm.controls.password2.dirty">
      <p>Your passwords do not match.</p>
    </ion-item>

    <button ion-button block type="Submit">
      Sign up 
    </button>

    <button ion-button block type="Submit">
      Cancel
    </button>

  </form>

</ion-content>
